.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  padding: 10px;
  border: 1px solid grey;
  color: var(--very-dark-grayish-blue);
  border-radius: 20px;
  background-color: var(--light-grayish-blue);
  box-sizing: border-box;
}

.alert[data-status='Success'] {
  background-color: rgba(138, 163, 155, 0.7);
}

.alert[data-status='Error'] {
  background-color: rgba(203, 132, 118, 0.62);
  border: 1px solid red;
}

.close {
  border: none;
  border-radius: 100%;
  background: inherit;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  margin-left: 10px;
}

.close:hover {
  opacity: 0.7;
}
