.container {
  width: 100%;
  position: relative;
}

.select {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: var(--light-grayish-blue);
  background: var(--very-dark-blue);
  border: none;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
}

.container[data-error] .select {
  background-color: rgba(203, 132, 118, 0.62);
  border: 1px solid red;
  color: black;
}

.error {
  margin-top: 10px;
  color: red;
}

.icon {
  color: var(--light-grayish-blue);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
}

.container[data-error] .icon {
    color: black;
}