.field {
  display: block;
}

.field + .field {
  margin-top: 20px;
}

.multiFields {
    display: flex;
    justify-content: space-between;
}

.multiField {
  flex: 1 1 0;
  min-width: 0;
  margin-left: 40px;
}

.multiField:first-child {
  margin-left: 0;
}

.createBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}